// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// Geai des chênes - couleur base
$white: #F5F2ED;
$black: #000000;
$grey: #6B6970;
$gris_clair: #b4b4b4;

// Geai des chênes - bleu
$bleue: #23355B;
$blue_fonce: #122B56;
$primary-blue: #4A75A3;
$blue_clair: #94B5E3;

// Geai des chênes - marron
$brown: #8B4513;
$marron_clair: #C2865C;
$marron: #B88761;
$light_brown: #EDC39F;
