// background wild forest
// $body-bg-image: url('https://c.wallhere.com/photos/e1/dc/landscape_nature_morning_dirt_road_forest_blue_mist_grass-99911.jpg!d');

// Misty forest
// $body-bg-image: url('https://ucarecdn.com/3fbea16c-3707-4f52-a853-c33b0052b2a3/');

// $body-bg-image: url('https://res.cloudinary.com/gimmersta-wallpaper/image/upload/c_fill,f_auto,fl_progressive,q_auto,h_1200/v1638280549/articles/R16001_product.jpg');
// $body-bg-image: url('https://images.unsplash.com/photo-1487621167305-5d248087c724?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWlzdHklMjBmb3Jlc3R8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
// $body-bg-image: url('https://cdn.wallpapersafari.com/40/10/NSFyTd.jpg');
// $body-bg-image: url('https://coolwallpapers.me/picsup/5287072-forest-tree-fog-cloud-cloudy-green-foresst-nature-mist-misty-forest-summer-rain-public-domain-images.jpg');

$body-bg-image: url('https://cdn.shopify.com/s/files/1/0565/7080/6458/files/mist-forest-wallpaper-mural.jpg?v=1628578573');

.homepage {
  background-image: $body-bg-image;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 2rem;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  img.bird-illustration {
      max-width: 50%;
      height: auto;
      margin-top: 2rem;
  }

  .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 80%;  // Limite la largeur à 80% de la largeur de la fenêtre
      // margin: 0 auto;  // Centre automatiquement le contenu

      .title {
          font-family: "Raleway", "Helvetica", "sans-serif";
          font-size: 2.5rem;
          font-weight: 400;
          color: $black;
          text-align: center;
          margin-bottom: 2rem;
      }

      // img.logo {
      //     filter: brightness(0.5);
      //     width: 50px;
      //     height: 50px;
      //     border-radius: 50%;
      //     margin-bottom: 1rem;
      // }

      h1 {
          font-family: $headers-font;
          font-size: 1.8rem;
          color: $gris_clair;
          margin-top: 1rem;
      }

      .btn {
          font-family: $body-font;
          padding: 0.7rem 1.5rem;
          background-color: $bleue;
          color: $white;
          text-decoration: none;
          border-radius: 5px;
          transition: background-color 0.3s ease;
          margin-bottom: 1rem;

          &:hover {
              background-color: darken($primary-blue, 10%);
          }
      }
  }
}
