
.renter-dashboard-blurb{
  background-color: rgba(95, 158, 160, 0.75);
  padding-left: 60px;
  padding-top: 30px;
  height: 150px;
  box-shadow: 0px 2px 8px 5px rgba(107, 126, 128, 0.71);
  p{
    padding-left: 70px;
  }
}

// .renter-container{
//   margin-bottom: 30px;
//   padding-top: 20px;
//   padding-bottom: 20px;
//   background-color: rgba(107, 105, 112, 0.35);
// }

.renter-dashboard{
  .card-product {
    border-radius: 5px;
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    img {
      height: 100%;
      width: 120px;
      object-fit: cover;
    }
    h2 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    p {
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 10px;
    }
    .card-product-infos {
      padding: 16px;
    }
  }
}
