<div class="homepage">
    <div class="content">
        <p class="title">Need a feathered friend for the weekend? Rent a birdie and make your stay a hoot!</p>
        <img src="https://1.bp.blogspot.com/-6mpj5Mf9_Jg/WKkpMODq76I/AAAAAAAAe3U/WOiQriW5khMkwTys4aJ71E8gBG09MelIQCLcB/s1600/birds-branch-artwork-drawing-digital-illustration-png.png" alt="Bird Illustration" class="bird-illustration">
        <%= link_to "Look at birds", birds_path, class: "btn" %>

        <%# <img src="https://static.vecteezy.com/system/resources/previews/024/959/322/original/hand-drawn-vintage-bird-logo-in-flat-style-png.png" alt="Logo" class="logo">
        <h1>AirBirdsNBees</h1> %>
    </div>
</div>
